<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="%compare.java.label">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <dynamic
                  class="com.ah.filecompareassist.plugin.eclipse.item.PrjsDynamicContributionItem"
                  id="com.ah.filecompareassit.plugin.eclipse.dynamic1">
            </dynamic>
         </menu>
         <menu
               label="%compare.nonjava.label">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <dynamic
                  class="com.ah.filecompareassist.plugin.eclipse.item.PrjsDynamicContributionItem"
                  id="com.ah.filecompareassit.plugin.eclipse.dynamic3">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#CompilationUnitEditorContext?after=additions">
         <menu
               label="%compare.java.label">
            <dynamic
                  class="com.ah.filecompareassist.plugin.eclipse.item.PrjsDynamicContributionItem"
                  id="com.ah.filecompareassit.plugin.eclipse.dynamic2">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="%compare.nonjava.label">
            <dynamic
                  class="com.ah.filecompareassist.plugin.eclipse.item.PrjsDynamicContributionItem"
                  id="com.ah.filecompareassit.plugin.eclipse.dynamic4">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jst.jsp.core.jspsource.source.EditorContext?after=additions">
         <menu
               label="%compare.nonjava.label">
            <dynamic
                  class="com.ah.filecompareassist.plugin.eclipse.item.PrjsDynamicContributionItem"
                  id="com.ah.filecompareassist.plugin.eclipse.dynamic5">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ah.filecompareassist.plugin.eclipse.handlers.CompareFileHandler"
            id="com.ah.filecompareassit.plugin.eclipse.CompareFileCommand"
            name="CompareFileHandler">
      </command>
   </extension>


</plugin>
